@{
    Layout = "_Layout";
    ViewData["Title"] = "HomePage";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello and welcome to my Lab5, My name is Barzin Farahani(40922695).<br />Feel Free to awnser and upload any of the questions that i have under Awnsers!</p>
</div>
